<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!--
        Конфа для вывода в файл
    -->
    <springProfile name="log-file">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>log/application-debug.log</file>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <append>false</append>
        </appender>

        <logger name="ru.baranova.spring" level="info" additivity="false">
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>

    <!--        Конфа для вывода в консоль-->
    <springProfile name="log-console">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="org.springframework.web" level="DEBUG"/>
    </springProfile>

    <!--    any spring profile-->
    <springProfile name="!(log-file|log-console)">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="org.springframework.web" level="DEBUG"/>
    </springProfile>
</configuration>