<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All genres</title>

    <style type="text/css">
        body {
            padding: 50px;
        }

        .genre {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .genre tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .genre td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>

<form action="listGenre.html" id="finding-form" th:action="@{/list/genre/gr-by-name}" th:method="GET"
      th:object="${genre}">
    <div class="row">
        <h4>Genre finding:</h4>
        <label for="name">Name:</label>
        <input id="name" name="name" th:field="*{name}" type="text" value="High fantasy"/>
        <button type="submit">Find</button>
        </br></br></br>
    </div>
</form>
<form id="read-form">
    </br>
    <div class="row">
        <a href="listGenre.html" th:href="@{/list/genre/gr-all}">
            <button type="button">Read all genres</button>
        </a>
    </div>
</form>

</body>
</html>